<%- include("partial/start.ejs") %>

<main class="container text-center my-5">
    <h1 class="about-title" style="font-weight: bold; font-size: 50px; font-family: 'Dishonorable Mention: Comic Sans'; margin-top: 5px;">ABOUT US</h1>
    <br>
    
    <div class="about-container" style="background-color: #D1E9F6; border: 2px solid #921A40; border-radius: 10px; padding: 20px; display: inline-block; margin-top: 20px;">
        <p class="about-description">
            <br><br> Welcome to the official fan page dedicated to the remarkable Taylor Swift! <br>
        </p>
        <br>
        <p>
            Our mission is to connect fellow Swifties, sharing insights and experiences that resonate through her powerful lyrics.
            Here, you can explore her discography, view album covers, and enjoy curated playlists that highlight the best of her work.
        </p>
        <br>
        <p>
            Join us in celebrating Taylor Swift's incredible journey, where each album tells a story and every song touches the heart.
            Whether you're here to reminisce about her early days or to discover new favorites, we welcome you to explore, engage, and enjoy.
        </p><br><br><br><br>
    </div>
    <br>

</main>

<%- include("partial/end.ejs") %>
