<%- include("partial/start.ejs") %>

<main class="container text-center my-5">
    <h1 class="contact-title" style="font-weight: bold; font-size: 50px; font-family: 'Dishonorable Mention: Comic Sans'; margin-top: 5px;">CONTACT US</h1>
    <br>
    
    <div class="contact-container" style="background-color: #D1E9F6; border: 2px solid #921A40; border-radius: 10px; padding: 20px; display: inline-block; margin-top: 20px;">
        <p class="contact-description">
            <br><br> We love hearing from fellow Swifties! <br>
            <br> If you have any questions, suggestions, or just want to share your love for Taylor Swift, feel free to reach out to us.
        </p>
        <br>
        <br>
        <a class="btn-contact" style="padding: 8px 12px; font-size: 14px;" href="mailto:swiftiesfanpage@example.com">CONTACT US</a>
    </div>

    <br>
    <br>
    <div class="social-links" style="margin-top: 20px;">
        <a href="https://www.instagram.com/taylorswift/" target="_blank" class="social-link" style="background: none; border: none;">
            <img src="/images/instagram.png" alt="Instagram" style="width: 30px; height: 30px;">
        </a>
        <a href="https://twitter.com/taylorswift13" target="_blank" class="social-link" style="background: none; border: none;">
            <img src="/images/twitter.png" alt="Twitter" style="width: 30px; height: 30px;">
        </a>
        <a href="https://www.facebook.com/taylorswift" target="_blank" class="social-link" style="background: none; border: none;">
            <img src="/images/facebook.png" alt="Facebook" style="width: 30px; height: 30px;">
        </a>
    </div>
</main>

<%- include("partial/end.ejs") %>
