 <%- include("partial/start.ejs") %> 

    <main class="container">
        <section class="albums">
            <h2 class="album-title">ALBUM AND SONGS</h2>
    
            <div class="album-grid">
                <div class="album">
                    <img src="/images/fearless.jpg" alt="Fearless Album Cover">
                    <br>
                    <h3>Fearless</h3>
                    <ul class="song-list">
                        <li>
                            Fearless
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/77sMIMlNaSURUAXq5coCxE?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>                        </li>
                        <li>
                            Fifteen
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/2nqio0SfWg6gh2eCtfuMa5?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                         </li>
                        <li>
                            Love Story
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/3CeCwYWvdfXbZLXFhBrbnf?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                         </li>
                        <li>
                            You Belong with Me
                            <iframe src="https://open.spotify.com/embed/track/1qrpoAMXodY6895hGKoUpA" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </li>
                        <li>
                            White Horse
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/5YL553x8sHderRBDlm3NM3?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </li>
                        <li>
                            Change
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/3ExweHKZF9B752DPQByRVT?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </li>
                    </ul>
                </div>

                <div class="album">
                    <img src="/images/1989.jpg" alt="1989 Album Cover"><br>
                    <h3>1989</h3>
                    <ul class="song-list">
                        <li>
                            Welcome to New York
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1hR8BSuEqPCCZfv93zzzz9?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </li>
                        <li>
                            Blank Space
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/45wMBGri1PORPjM9PwFfrS?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </li>
                        <li>
                            Style
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1hjRhYpWyqDpPahmSlUTlc?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </li>
                        <li>
                            Out of the Woods
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/045ZeOHPIzhxxsm8bq5kyE?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </li>
                        <li>
                            Shake It Off
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/3pv7Q5v2dpdefwdWIvE7yH?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </li>
                        <li>
                            Clean
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/2ByBBvpR9b7IynvRmnG7kG?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </li>
                    </ul>
                </div>
    
                <div class="album">
                    <img src="/images/lover.jpg" alt="Lover Album Cover"><br>
                    <h3>Lover</h3>
                    <ul class="song-list">
                        <li>
                            I Forgot That You Existed
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/43rA71bccXFGD4C8GOpIlN?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </li>
                        <li>
                            Cruel Summer
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1BxfuPKGuaTgP7aM0Bbdwr?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </li>
                        <li>
                            Lover
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1dGr1c8CrMLDpV6mPbImSI?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </li>
                        <li>
                            The Man
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/3RauEVgRgj1IuWdJ9fDs70?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </li>
                        <li>
                            Paper Rings
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4y5bvROuBDPr5fuwXbIBZR?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </li>
                        <li>
                            Daylight
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1fzAuUVbzlhZ1lJAx9PtY6?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </li>
                    </ul>
                </div>

                <div class="album">
                    <img src="/images/speak now.jpg" alt="Speak Now Album Cover"><br>
                    <h3>Speak Now</h3>
                    <ul class="song-list">
                        <li>
                            Mine
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/7G0gBu6nLdhFDPRLc0HdDG?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </li>
                        <li>
                            Sparks Fly
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/3MytWN8L7shNYzGl4tAKRp?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </li>
                        <li>
                            Back to December
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/79uDOz0zuuWS7HWxzMmTa2?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>                        </li>
                        <li>
                            Speak Now
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/5xXqyjLicvEpch72qEryFT?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </li>
                        <li>
                            Dear John
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1zU8j1x3yi9xalMF96pzKp?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </li>
                        <li>
                            Mean
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/30Y4CV7A6YqtQtTTo7Ue4j?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </li>
                    </ul>
                </div>

                <div class="album">
                    <img src="/images/evermore.jpg" alt="Evermore Album Cover"><br>
                    <h3>Evermore</h3>
                    <ul class="song-list">
                        <li>
                            Willow
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/2gVhfX2Gy1T9kDuS9azrF7?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </li>
                        <li>
                            Champagne Problems
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1gcyHQpBQ1lfXGdhZmWrHP?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </li>
                        <li>
                            Gold Rush
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/3Dby3p1m6IOZn2gIIqECgK?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </li>
                        <li>
                            'tis the damn season
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6sQckd3Z8NPxVVKUnavY1F?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </li>
                        <li>
                            tolerate it
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6lCvK2AR2uOKkVFCVlAzzm?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </li>
                        <li>
                            no body, no crime
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6uwfVkaOM1mcMkFmSn35ix?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </li>
                    </ul>
                </div>

                <div class="album">
                    <img src="/images/tpd.jpg" alt="Tortured Poets Department Album Cover"><br>
                    <h3>Tortured Poets Department</h3>
                    <ul class="song-list">
                        <li>
                            Fortnight (feat. Post Malone)
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6dODwocEuGzHAavXqTbwHv?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </li>
                        <li>
                            The Tortured Poets Department
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4PdLaGZubp4lghChqp8erB?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </li>
                        <li>
                            My Boy Only Breaks His Favorite Toys
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/7uGYWMwRy24dm7RUDDhUlD?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>  
                        </li>
                        <li>
                            Down Bad
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1kbEbBdEgQdQeLXCJh28pJ?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </li>
                        <li>
                            So Long, London
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/7wAkQFShJ27V8362MqevQr?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </li>
                        <li>
                            But Daddy I Love Him
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4QMgEffJQuKtjCNvqfRZ0m?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </main>