 <%- include("partial/start.ejs") %>

    <main class="container text-center my-5">
        <h1 class="title" style="font-weight: bold; font-size: 50px; font-family: 'Dishonorable Mention: Comic Sans';">WELCOME SWIFTIES!</h1>
        <br>
        <div class="taylor-images">
            <img src="/images/tay1.jpg" alt="Taylor Swift" class="taylor-image">
            <img src="/images/tay9.jpg" alt="Taylor Swift" class="taylor-image">
            <img src="/images/tay3.jpg" alt="Taylor Swift" class="taylor-image">
            <img src="/images/aty13.jpg" alt="Taylor Swift" class="taylor-image">
            <img src="/images/tay5.jpg" alt="Taylor Swift" class="taylor-image">
            <img src="/images/tay11.jpg" alt="Taylor Swift" class="taylor-image">
            <img src="/images/tay7.jpg" alt="Taylor Swift" class="taylor-image">
            <img src="/images/tay8.jpg" alt="Taylor Swift" class="taylor-image">
            <img src="/images/tay2.jpg" alt="Taylor Swift" class="taylor-image">
            <img src="/images/tay10.jpg" alt="Taylor Swift" class="taylor-image">
            <img src="/images/tay6.jpg" alt="Taylor Swift" class="taylor-image">
            <img src="/images/tay12.jpg" alt="Taylor Swift" class="taylor-image">
        </div>
        <br>
        <br>
        <div class="notice-container">
            <p>
                          As one of the most influential artists of our generation, Taylor Swift's music speaks to the heart and soul of millions. This fanpage is dedicated to celebrating her journey, her incredible albums, and the unforgettable moments that define her career.
                Whether you're a die-hard Swiftie or just starting to explore her music, this page is your go-to place for everything Taylor Swift. Browse through our content, learn more about her life and career, and stay up to date with the latest news and fan activities!<br><br>
            </p>
            <p>@swiftie2024</p>
        </div>
    </main>

    <%- include("partial/end.ejs") %>

